.card {
  background: var(--c-card);
  box-shadow: 0px 4px var(--s-1-2) var(--c-card-shadow);
  border-radius: var(--s-1-4);
  padding: var(--s-2-5);
  display: grid;
  gap: var(--s-2-4);
  height: 100%;
  align-content: flex-start;

  p {
    flex-grow: 1;
  }
}
