.image {
  width: 100%;
  max-width: 520px;
  position: relative;
  aspect-ratio: 1;
  border-radius: var(--s-2-4);
  overflow: hidden;

  @media (min-width: 768px) {
    order: 2;
  }

  .skeleton {
    width: 100%;
    max-width: 520px;
    height: 520px;
    background: red;
  }
}
