.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--s-1);
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.scoreContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--s-1-2);
}

.circle {
  border-radius: 50%;
  padding: 3px;
  width: 56px;
  height: 56px;

  @media (min-width: 768px) {
    padding: 4px;
    width: 78px;
    height: 78px;
  }

  .number {
    font-size: var(--fs-body);
    width: fit-content;
    margin: 0 auto;
    padding: var(--s-2);
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    @media (min-width: 768px) {
      width: 70px;
      height: 70px;
    }
  }

  &[class~='good'] {
    background-color: var(--c-lighthouseGoodPale);

    .number {
      color: var(--c-lighthouseGoodDark);
      background-color: var(--c-lighthouseGoodPale);
    }
  }

  &[class~='average'] {
    background-color: var(--c-lighthouseAveragePale);

    .number {
      color: var(--c-lighthouseAverageDark);
      background-color: var(--c-lighthouseAveragePale);
    }
  }
}

.type {
  text-align: center;
  font-size: var(--fs-caption);
}
