.formContainer {
  max-width: 750px;
  min-width: 100%;
  width: 100%;

  @media (min-width: 768px) {
    min-width: 450px;
  }

  p {
    flex-grow: 1;
  }
}

.form {
  display: grid;
  gap: var(--s-4);
}

.row {
  display: grid;
  gap: var(--s-1);
}

.label {
  display: block;
  font-weight: var(--fw-bold);
}

.input {
  width: 100%;
  padding: var(--s-2);
  border-radius: var(--s-0);
  border: 1px solid var(--c-text);
  background: var(--c-input-bg);
}

.required {
  color: var(--c-accent);
  font-weight: var(--fw-regular);
  font-size: var(--fs-caption);
}
