.contact {
  display: grid;
  gap: var(--s-4-5);
  width: 100%;

  .intro {
    display: grid;
    gap: var(--s-2-4);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--s-2-4);
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
  }

  .image {
    width: 100%;
    max-width: 520px;
    position: relative;
    aspect-ratio: 1;
  }
}
