.skills {
  display: grid;
  gap: var(--s-2-4);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  .image {
    width: 100%;

    img {
      margin: 0 auto;
      border-radius: 0.8rem;
      overflow: hidden;
    }
  }
}
